.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-10 {
  margin-left: 2.5rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-10 {
  margin-top: 2.5rem
}

.ml-20 {
  margin-left: 5rem
}

.-mt-5 {
  margin-top: -1.25rem
}

.-mt-10 {
  margin-top: -2.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.h-full {
  height: 100%
}

.h-60 {
  height: 15rem
}

.h-52 {
  height: 13rem
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-around {
  justify-content: space-around
}

.self-center {
  align-self: center
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.pl-14 {
  padding-left: 3.5rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pl-5 {
  padding-left: 1.25rem
}

.pb-0 {
  padding-bottom: 0px
}

.pt-5 {
  padding-top: 1.25rem
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}
